[coverage:run]
include =
  src/*
  testing/*
  */lib/python*/site-packages/pdbpp.py
  */lib/python*/site-packages/_pdbpp_path_hack/*
  */pypy*/site-packages/pdbpp.py
  */pypy*/site-packages/_pdbpp_path_hack/*
  *\Lib\site-packages\_pdbpp_path_hack\*
  *\Lib\site-packages\pdbpp.py
branch = 1
parallel = 1

[coverage:paths]
source = src/
  */lib/python*/site-packages/
  */pypy*/site-packages/
  *\Lib\site-packages\

[coverage:report]
exclude_lines =
    \#\s*pragma: no cover
    ^\s*raise NotImplementedError\b
