environment:
  PYTEST_ADDOPTS: "-vv --cov-report=xml:coverage-travis.xml"
  CODECOV_FLAG: "windows"

  matrix:
    - TOXENV: py27-coverage
      PYTEST: "pytest @ git+https://github.com/blueyed/pytest@my-4.6-maintenance"
    - TOXENV: py38-coverage
      PYTEST: "pytest @ git+https://github.com/blueyed/pytest@my-master"

build: off

install:
  - python -m pip install --user git+https://github.com/blueyed/tox@master
  - python -m tox -v --notest --force-dep="$PYTEST"

test_script:
  - python -m tox --force-dep="$PYTEST"
