include .coveragerc
include CHANGELOG
include LICENSE.txt
include pdbpp_hijack_pdb.pth
include pdbrc.py
include screenshot.png
include tox.ini
recursive-include testing *.py
recursive-exclude requirements *.in
recursive-exclude requirements *.txt
